@import url(https://fonts.googleapis.com/css?family=Roboto);

@white: #fff;
@darkwhite: darken(white, 9%);
@lightGreen: #009688;
@lighterGreen: #80CBC4;
@lightGray: #eee;
@black: #212121;
@darkGray: #555555;
@darkerGray: #424242;

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.content {
	padding: 10px;
}

.time-picker-field {
	color: @white;
	padding: 10px 20px;
	font-weight: bold;
	font-size: 30px;
	border-color: transparent;
	background-color: @lightGreen;
	box-shadow: none;
	border-radius: 3px;
	
	&.dark {
		color: @lighterGreen;
		background-color: @darkerGray;
	}
}

.time-picker-popup {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	
	.time-picker-panel {
		margin: 10px;
		background: @white;
		
		box-shadow: 5px 5px 15px 1px #aaa, 
					-5px 0 15px 1px #aaa;
		
		/* Hack to get box-shadow on iOS */
		border-radius: 1px;
		
		.mode-selector {
			height: 100px; 
			background-color: @lightGreen; 
			color: @white;
			font-size: 60px;
			clear: both;
			
			.mode-selector-inner {
				float: right;
				margin: 14px 50px;	
				
				.component-selector {
					opacity: .7;
					
					&.selected {
						opacity: 1;
					}
				}
				
				.time-mode-selector {
					display: inline-block;
					
					.component-selector {
						font-size: 20px;
					}
				}
			}
		}
		
		.time-selector-wrapper {			
			text-align: center;
			
			.time-selector {
				.quadrant {
					fill: @lightGray;
				}
				.digit {
					fill: @black;
					text-anchor: middle;
					font-size: 50px;
					
					&.selected {
						fill: @white;
					}
				}
				.quadrant-center {
					fill: @lightGreen;
				}
				.hand-line {
					stroke: @lightGreen;
					stroke-width: 6px;
				}
				.hand {
					fill: @lightGreen;
				}
			}
		}
		
		.bottom-bar {
			padding: 5px 30px 15px 30px;
			text-align: right;
			
			.link-btn {
				color: @lightGreen;
			
				&:not(:last-child) {
					margin-right: 25px;
				}
			}
		}
		
		&.dark {
			background-color: @darkerGray;
			
			.mode-selector {
				background-color: @darkGray;
			}
			.time-selector-wrapper {
				.time-selector {
					.quadrant {
						fill: @darkGray;
					}
				}
				.digit {
					fill: @darkwhite;
					
					&.selected {
						fill: @black;
					}
				}
				.quadrant-center {
					fill: @lighterGreen;
				}
				.hand-line {
					stroke: @lighterGreen;
					stroke-width: 6px;
				}
				.hand {
					fill: @lighterGreen;
				}
			}
			
			.bottom-bar {
				.link-btn {
					color: @lighterGreen;
				}
			}
		}
		
		@media only screen and (orientation: landscape) {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			
			.mode-selector {
				width: 150px;
				position: absolute;
				bottom: 0;
				top: 0;
				height: 100%;
				
				.mode-selector-inner {
					float: none;
					margin: 0;
					text-align: center;
					margin-top: 50%;
					
					.component-selector {
						font-size: 50px;
					}
					
					.time-mode-selector {
						display: block;
						
						.component-selector {
							font-size: 17.5px;
						}
					}
				}
			}
			
			.time-selector {
				margin-left: 150px;
			}
		}
	}
}


.link-btn {
	// font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 16px;
	border-color: transparent;
	background-color: transparent;
	box-shadow: none;
	
	&:active {
		opacity: .8;
	}
}