<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Mobile Time Picker demo</title>
    <link href='all.min.css' rel='stylesheet' type='text/css'>
</head>
<body>
    
	<div class="content" ng-app="timePickerApp">
		
        <div ng-controller="timePickerController">
            
            <h1>Mobile Time Picker demo</h1>
            
            <div style="margin-bottom: 20px;">
                <label>
                    <input type="radio" ng-model="picker1Theme" ng-value="Themes.Light">
                    Light
                </label><br/>
                <label>
                    <input type="radio" ng-model="picker1Theme" ng-value="Themes.Dark">
                    Dark
                </label><br/>
            </div>
            
            <div style="margin-bottom: 20px;">
      
                <label>
                    <input type="radio" ng-model="picker1TimeStyle" ng-value="TimeStyles.AmPm">
                    12H AM/PM
                </label><br/>
                <label>
                    <input type="radio" ng-model="picker1TimeStyle" ng-value="TimeStyles.H24">
                    24H
                </label><br/>
            </div>
            
            <div>
                <time-picker time="picker1Time" theme="picker1Theme" time-style="picker1TimeStyle"></time-picker>
            </div>
            
            <div style="margin-bottom: 20px; margin-top: 200px;">
                <label>
                    <input type="radio" ng-model="picker2Theme" ng-value="Themes.Light">
                    Light
                </label><br/>
                <label>
                    <input type="radio" ng-model="picker2Theme" ng-value="Themes.Dark">
                    Dark
                </label><br/>
            </div>
            
            <div style="margin-bottom: 20px;">
                <label>
                    <input type="radio" ng-model="picker2TimeStyle" ng-value="TimeStyles.AmPm">
                    12H AM/PM
                </label><br/>
                <label>
                    <input type="radio" ng-model="picker2TimeStyle" ng-value="TimeStyles.H24">
                    24H
                </label><br/>
            </div>
            
            <div>
                <time-picker time="picker2Time" theme="picker2Theme" time-style="picker2TimeStyle"></time-picker>
            </div>

            <div style="margin-bottom: 20px; margin-top: 200px;">
                <label>
                    <input type="radio" ng-model="picker3Theme" ng-value="Themes.Light">
                    Light
                </label><br/>
                <label>
                    <input type="radio" ng-model="picker3Theme" ng-value="Themes.Dark">
                    Dark
                </label><br/>
            </div>
            
            <div style="margin-bottom: 20px;">
                <label>
                    <input type="radio" ng-model="picker3TimeStyle" ng-value="TimeStyles.AmPm">
                    12H AM/PM
                </label><br/>
                <label>
                    <input type="radio" ng-model="picker3TimeStyle" ng-value="TimeStyles.H24">
                    24H
                </label><br/>
            </div>
            
            <div>
                <time-picker time="picker3Time" theme="picker3Theme" time-style="picker3TimeStyle"></time-picker>
            </div>

        </div>
        
	</div>
    <script type="text/javascript" src="app.min.js"></script>
</body>
</html>
