<div class="time-picker-panel" ng-class="{ 'dark': theme === Themes.Dark }" ng-show="time">
	<div class="mode-selector">
		<div class="mode-selector-inner">
		<span class="component-selector" ng-class="{ 'selected': pickerMode === PickerModes.Hours }" ng-click="pickerMode = PickerModes.Hours; $event.preventDefault();">{{time.h}}</span><span 
			class="component-selector" ng-class="{ 'selected': pickerMode === PickerModes.Minutes }" ng-click="pickerMode = PickerModes.Minutes; $event.preventDefault();">:{{time.m | pad2}}</span>
			<div class="time-mode-selector" ng-show="timeStyle === TimeStyles.AmPm">
				<div class="component-selector" ng-click="time.type = TimeModes.AM; $event.preventDefaut();"
					ng-class="{ 'selected': time.type === TimeModes.AM }">
					{{TimeModes.AM | uppercase}}
				</div>
				<div class="component-selector" ng-click="time.type = TimeModes.PM; $event.preventDefaut();"
					ng-class="{ 'selected': time.type === TimeModes.PM }">
					{{TimeModes.PM | uppercase}}
				</div>
			</div>
		</div>
	</div>
	<div class="time-selector-wrapper">
		<svg class="time-selector" viewbox="-500 -500 1000 1000" preserveAspectRatio="xMinYMin meet">
			<circle class="quadrant" cx="0" cy="0" r="450" />
			<circle class="quadrant-center" cx="0" cy="0" r="10" />
			
			<time-picker-clock-hand digits-data="digits" radius="radius" selecting-index="selectingIndex" selected-index="selectedIndex" angle="angle" 
				force-animate="forceAnimate" />
			<time-picker-digits digits-data="digits" radius="radius" selected-index="selectedIndex" pad-digits="pickerMode === PickerModes.Minutes" />
		</svg>
	</div>
	<div class="bottom-bar">
		<button class="link-btn" ng-click="cancel()">CANCEL</a>
		<button class="link-btn" ng-click="ok()">OK</a>
	</div>
</div>

