
<button class="time-picker-field" ng-class="{ 'dark': theme === Themes.Dark }",
	ng-click="open()">
	<span>{{time.h | pad2}}:{{time.m | pad2}}</span>
	<span ng-if="timeStyle === TimeStyles.AmPm">&nbsp;{{time.type | uppercase}}</span>
	&nbsp;>
</button>

<div class="time-picker-popup" ng-show="isPickerOpen" on-touchstart="onTouchStart" 
	on-touchmove="onTouchMove" ng-style="{ 'bottom': (isiPhone ? '170px' : '0') }">
	<div>
		<time-picker-panel time="editTime" theme="theme" time-style="timeStyle" ok="ok()" cancel="cancel()"></time-picker>
	</div>
</div>
